<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="GoSmokeConnectionString" connectionString="metadata=res://*/SmokeEfContextSchema.csdl|res://*/SmokeEfContextSchema.ssdl|res://*/SmokeEfContextSchema.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:mcrlojcb0r.database.windows.net,1433;initial catalog=GoSmoke_db;user id=Dr.Norton@mcrlojcb0r;password=Rianon1990;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>